---
# Update package list and upgrade packages
- name: Update and upgrade packages
  apt:
    update_cache: yes
    upgrade: dist

# Install nodejs and npm
- name: Install nodejs and npm
  apt:
    name:
      - nodejs
      - npm
    state: latest
    update_cache: yes

# Install pm2
- name: Install pm2
  npm:
    name: pm2
    global: yes
    state: present
    executable: npm
  become: yes

# Install Docker
- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker apt repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

# Install Docker Compose
- name: Install Docker Compose
  shell: >
    curl -sSL https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose &&
    chmod +x /usr/local/bin/docker-compose
  args:
    creates: /usr/local/bin/docker-compose
