---
# Update package list and upgrade packages
- name: Update and upgrade packages
  apt:
    update_cache: yes
    upgrade: dist

# Install nodejs and npm
- name: Install nodejs and npm
  apt:
    name:
      - nodejs
      - npm
    state: latest
    update_cache: yes

# Install pm2
- name: Install pm2
  npm:
    name: pm2
    global: yes
    state: present
    executable: npm
  become: yes

- name: Install docker packages
  remote_user: ubuntu
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common
  tags:
    - docker
- name: Add Docker s official GPG key
  remote_user: ubuntu
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  tags:
    - docker
- name: Verify that we have the key with the fingerprint
  remote_user: ubuntu
  apt_key:
    id: 0EBFCD88
    state: present
  tags:
    - docker

- name: Update apt packages
  remote_user: ubuntu
  apt:
    update_cache: yes
  tags:
    - docker
- name: Install docker
  remote_user: ubuntu
  apt:
    name: docker-ce
    state: present
    update_cache: yes
  tags:
    - docker
- name: Add remote "ubuntu" user to "docker" group
  remote_user: ubuntu
  user:
    name: "ubuntu"
    group: "docker"
    append: yes
  tags:
    - docker
